.task {
  height: 100vh;

  &-completed {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 50px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    background-color: var(--c-dark-2);
    border-radius: 10px;

    &--expired {
      background-color: var(--c-stopped);
    }

    &__data {
      padding: 0 6px;
      border-radius: 10px;
      font-size: var(--f-size-12);
      background-color: var(--c-stopped);

      &--expired {
        background-color: var(--c-dark-2);
      }
    }

    &__btns {
      position: relative;
      width: 100%;

      &-btn {
        display: flex;
      }

      &-icon {
        color: var(--c-white);
        margin: 0 8px 0 0;
        cursor: grab;
      }

      &-text {
        color: var(--c-white);
      }

      &-inner {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 10px;
      }

      &-delete {
        margin: 0 0 0 auto;
      }
    }

    &__icon {
      color: var(--c-white);

      &--delete:hover {
        color: var(--c-stopped-dark);
      }

      &--info:hover {
        color: var(--c-light-blue);
      }

      &--edit:hover {
        color: var(--c-completed);
      }
    }

    &__menu {
      color: var(--c-black);
    }

    &__dropdown {
      &-text {
        padding: 5px;
        border: 1px solid var(--c-black);
        border-radius: 10px;
        margin: 0 0 20px 0;
      }
    }
  }

  &-title {
    font-size: 56px;
    margin: 0 0 20px 0;
  }

  &-subtitle {
    font-size: 50px;
    margin: 0 0 50px 0;
  }

  &-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;

    &:active {
      padding: 5px;
    }
  }
}
