.task {
  min-height: 100px;

  &-completed {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &-item {
    flex: 0 0 auto;
    height: auto;
  }

  &-title {
    font-size: 56px;
    margin: 0 0 20px 0;
  }

  &-subtitle {
    font-size: 50px;
    margin: 0 0 50px 0;
  }

  &-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;

    &:active {
      padding: 5px;
    }
  }
}
