.sect-notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--c-black);
  height: 100vh;
}

.notfound {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  gap: 50px;
  padding: 50px;

  &-top {
    &__img {
      margin: 0 0 20px 0;
    }

    &__title {
      font-size: 56px;
      margin: 0;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    &__link {
      padding: 10px;
    }
  }
}
