@use "../../../styles/global/mixins" as *;

.project {
  // &-create {
  //   height: 100vh;
  //   &__title {
  //     font-size: 56px;
  //     margin: 0 0 20px 0;

  //     @include vp-767 {
  //       text-align: center;
  //       line-height: 48px;
  //     }
  //   }

  //   &__subtitle {
  //     font-size: 50px;
  //     margin: 0 0 50px 0;
  //   }
  // }

  &-top {
    display: flex;
    align-items: center;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    margin: 63px 0 0 0;

    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(1px);
    background-size: cover;

    z-index: 10;

    @include vp-767 {
      gap: 20px;
      text-align: center;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 2560px;
      margin: 0 auto;
      padding: 0 60px 0;
      gap: 10px;

      @media (max-width: 500px) {
        gap: 20px;
      }

      &--page {
        justify-content: start;
      }
    }

    // Меняет цвет иконки в файле ProjectList
    .project-top__icon {
      color: var(--c-white);
    }

    &__icon {
      color: var(--c-black);
    }
  }

  &-title {
    font-size: 56px;
    margin: 0;

    @include vp-767 {
      font-size: 40px;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    position: relative;
    padding: 200px 0 0 0;
    margin: 0 0 20px 0;
    z-index: 1;

    @media (max-width: 1250px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include vp-1023 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include vp-767 {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }

    &--task {
      grid-template-columns: repeat(5, 1fr);
    }

    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
    }
  }

  &-item {
    width: 100%;
    height: 100%;

    &--planned {
      background-color: var(--c-planned);

      @include vp-767 {
        grid-column: 1/3;
      }

      @media (max-width: 600px) {
        grid-column: 1/-1;
        grid-row: 1;
      }
    }

    &--progress {
      background-color: var(--c-progress);
      grid-column: 2/4;

      @include vp-767 {
        grid-column: 3/ -1;
      }

      @media (max-width: 600px) {
        grid-column: 1/-1;
        grid-row: 2;
      }
    }

    &--stopped {
      background-color: var(--c-stopped);
      grid-column: 4/6;

      @include vp-767 {
        grid-row: 2/3;
        grid-column: 1/-1;
      }

      @media (max-width: 600px) {
        grid-row: 3/4;
      }
    }

    &--completed {
      background-color: var(--c-completed);
    }

    &__top {
      position: relative;
    }

    &__title {
      position: relative;
      color: var(--c-white);

      &.title-progress,
      &.title-planned,
      &.title-stopped,
      &.title-completed {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: -10px;
          left: 0;
        }
      }

      &.title-planned {
        &::before {
          background-color: var(--c-planned-dark);
        }
      }

      &.title-progress {
        &::before {
          background-color: var(--c-progress-dark);
        }
      }

      &.title-stopped {
        &::before {
          background-color: var(--c-stopped-dark);
        }
      }

      &.title-completed {
        &::before {
          background-color: var(--c-completed-dark);
        }
      }
    }

    &.size-xl {
      grid-column: 1 / -1;
      max-width: unset;
    }

    &__task {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
