@use "../../../styles/global/mixins" as *;

.columns {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  justify-content: center;
  gap: 20px;
  padding: 200px 0 0 0;
  z-index: 1;

  @media (max-width: 1250px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include vp-1023 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 180px 0 0 0;
  }

  &--task {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 200px 0 200px 0;
  }

  &-item {
    width: 100%;
    height: 100%;
    background-color: var(--c-dark-1);
    flex: 0 0 250px;
    border-radius: 10px;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin: 0 0 10px 0;

      &-title {
        position: relative;
        color: var(--c-white);

        // &__task {
        //   font-size: var(--f-size-14);
        //   margin: 5px 0 0 0;
        //   color: var(--c-gray-2);
        // }
      }
    }

    &__btn {
      padding: 0;
    }

    &__task {
      color: var(--c-gray-2);
    }
  }
}
