.history {

  &-list {
    background-color: rgba(10, 10, 10, 0.5);
    
    &__btn {
      background-color: rgba(10, 10, 10, 0.8);
      
      &:hover,
      &:focus-visible {
        background-color: rgba(10, 10, 10, 1);
      }
      
      &:focus {
        background-color: rgb(13, 110, 253);;
      }
    }

    &__item {
      padding: 0;
    }
  }
}