.header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background: var(--c-black);
  font-family: var(--ff-main);
  height: 50px;
  z-index: 10;

  &-main {
    width: 100%;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &-logo {
    &-icon {
      font-size: 20px;
    }
  }
}
