.header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background: var(--c-black);

  &-main {
    width: 100%;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &-logo {
    &-icon {
      font-size: 20px;
    }
  }

  &-project {
    background-color: var(--c-light-blue);

    &:hover {
      background-color: green;
    }
  }
}
