@use "../../../../styles/global/mixins" as *;

.about {
  font-family: var(--ff-main);
  @include vp-767 {
    text-align: center;
  }

  &-info {
    &__desc {
      @include vp-767 {
        line-height: 26px;
      }
    }
  }
}
