.custom-link {
  display: inline-block;
  transition: background var(--transition-200);
  background-color: var(--c-light-blue);
  padding: 10px;

  &.primary {
    padding: 15px;
  }

  &.mini {
    padding: 5px;
  }

  &:hover {
    background-color: green;
  }
}
