.card {
  width: 300px;
  height: 100%;
  min-height: 300px;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid transparent;
  transition: transform .2s linear;
  position: relative;

  &:hover,
  &:focus-visible {
    transform: scale(1.015);
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
  }

  &-title {
    font-size: 26px;
    margin: 0 0 20px 0;
    color: #fff;

  }

  &-data {
    margin: auto 0 0 0;
  }

  &-delete {
    position: absolute;
    bottom: 15px;
    right: 20px;

    &:hover {
      svg {
        color: red;
      }
    }
  }
}
